# Збірка Maven
target/
*.war
*.jar
*.class

# Логи
*.log

# Папка налаштувань самої IDE (щоб не дублювати)
.idea/
*.iml
.vscode/

# Системні файли Windows
Thumbs.db

src/main/resources/firebase-service-account.json
src/main/resources/config.properties